
.addTocenterSubscrUpdt {
    margin: auto;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    height: 480px;
    text-align: center;
  }
.addAtinner
  {
    text-align: center;
  }
 
.textBox{
    width: 90%;
}
.button_related
{
    padding-left: 180px;
}
.paddingTop
{
    padding-top: 20px;
}
.paddingTopper
{
    padding-top: 40px;
}